<div id="about" class="section">
  <p>Hi there! I am a passionate software developer living in NYC.</p>
  <p>My past work has taken me into government, investment banking, and startups.</p>
  <p>I'm a Cornell University alumna and received my B.S. in Information Science Systems and Technology</p>
  <p>I enjoy working in small teams to solve challenging technical problems</p>
  <p>My coding expertise includes Ruby on Rails, Javascript, Java, C++, and PHP</p>
  <p>I love to learn and intend to do so throughout my career.</p>
  <button class="resume"><a href="/Amanda_Li_resume.pdf">Download Resume</a></button>
</div>

<div id="projects" class="section">
  <ul>
    <li>RosterReady: a web app to manage dragon boat paddler rosters</li>
    <li><a href="http://puffpuffdragons.com" target="_blank">Puff Puff Dragon Boat Club</a></li>
    <li>Amanda.Li: this site!</li>
  </ul>
</div>

<div id="social" class="section">
  social
</div>

<div id="contact" class="section">
  contact
</div>
