<div id="about" class="section">
  <h3>About</h3>
  <p>Hi there! I am a passionate software developer living in NYC.</p>
  <p>My past work has taken me into FinTech, startups, investment banking, and government.</p>
  <p>I'm a Cornell University alumna and received my B.S. in Information Science Systems and Technology</p>
    <p>My coding expertise includes Python, Ruby, Java, and Javascript</p>
    <p>I enjoy working in small teams to solve challenging technical problems.</p>
    <p>I love to learn and help others, and I intend to do so throughout my career.</p>
    <a href="/Amanda_Li_resume.pdf" class="btn btn-default">Download Resume</a>
  </div>

  <div id="projects" class="section">
    <h3>Projects</h3>
    <p><a href="http://nycuniteddragons.com" target="_blank">NYC United Dragon Boat Crew</a></p>
    <p>RosterReady: a web app to manage dragon boat paddler rosters</p>
    <p><a href="http://puffpuffdragons.com" target="_blank">Puff Puff Dragon Boat Club</a></p>
    <p><a href="http://nycwfmcc.com" target="_blank">NYC World's Fair Marina Canoe Club</a></p>
    <p><a href="https://github.com/manda986/amandali" target="_blank">Github: AmandaLi - this site!</a></p>
  </div>

  <div id="social" class="section">
    <h3>Social</h3>

    <span><a href="http://facebook.com/amandajli" target="_blank"><i class="icon icon-facebook-sign"></i></a></span>
    <span><a href="http://twitter.com/manda_li" target="_blank"><i class="icon icon-twitter-sign"></i></a></span>
    <span><a href="http://instagram.com/amanda_li8" target="_blank"><i class="icon icon-instagram"></i></a></span>
    <span><a href="http://yumyumdragon.com" target="_blank"><i class="icon icon-tumblr"></i></a></span>
    <span><a href="http://github.com/manda986" target="_blank"><i class="icon icon-github-sign"></i></a></span>
    <span><a href="http://linkedin.com/in/amandajli/" target="_blank"><i class="icon icon-linkedin-sign"></i></a></span>
    <span><a href="mailto:amanda.j.li@gmail.com?Subject=From%20Website" target="_top"><i class="icon icon-envelope"></i></a></span>

</div>


