  <div id="about" class="section">
    <h3>About</h3>
    <p>Proven leader in software development with 11+ years of hands-on technical experience.</p>
    <p>Build and manage high performing teams of software professionals.</p>
    <p>Expertise in building enterprise risk and user investigation tools and providing reliable and scalable platform services.</p>
    <p>Passionate about solving challenging technical problems that make an impact and help others.</p>
    <p>Past work includes FinTech, eCommerce, startups, investment banking, and government.</p>
    <a href="/Amanda_Li_resume.pdf" class="btn btn-default">Download Resume</a>
  </div>

  <div id="education" class="section">  
    <h3>Education</h3>
    <p>B.S. Information Science, Systems, Technology - College of Engineering, Cornell University, Ithaca, NY. Graduated May 2008</p>
    <p>Graduate of Professional Culinary Arts - French Culinary Institute, New York, NY. Graduated June 2012.</p>
  </div>

  <div id="awards" class="section">
    <h3>Awards</h3>
    <p>2017 US National Team Premier Womens Dragonboat - Gold, Silver, and Bronze Medalist</p>
    <p>2015 US National Team Premier Womens Dragonboat - Gold and Silver Medalist</p>
  </div>

  <div id="social" class="section">
    <h3>Social</h3>

    <span><a href="http://facebook.com/amandajli" target="_blank"><i class="icon icon-facebook-sign"></i></a></span>
    <span><a href="http://twitter.com/manda_li" target="_blank"><i class="icon icon-twitter-sign"></i></a></span>
    <span><a href="http://instagram.com/amanda_li8" target="_blank"><i class="icon icon-instagram"></i></a></span>
    <span><a href="http://yumyumdragon.com" target="_blank"><i class="icon icon-tumblr"></i></a></span>
    <span><a href="http://github.com/manda986" target="_blank"><i class="icon icon-github-sign"></i></a></span>
    <span><a href="http://linkedin.com/in/amandajli/" target="_blank"><i class="icon icon-linkedin-sign"></i></a></span>
    <span><a href="mailto:amanda.j.li@gmail.com?Subject=From%20Website" target="_top"><i class="icon icon-envelope"></i></a></span>

  </div>


