// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$yellow: #ffffff;
$green: #53777A;
$charcoal: #39393b;

#about {
  background-color: $charcoal;
  opacity: 0.9;
  font-size: 1.2em;
  text-align: center;
  height: 300px;
  padding-top: 20px;
  color: #ffffff;

  .resume {
    font-size: 1.2em;
    a, a:visited, a:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

#projects {
  background-color: $charcoal;
  opacity: 0.9;
  font-size: 1.2em;
  text-align: center;
  height: 200px;
  padding-top: 20px;

  ul {
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;

    color: #ffffff;
    font-size: 1.1em;

    li {

      a:link, a:visited {
        opacity: 1;
        display: block;
        padding: 5px 5px 5px 5px;
        text-decoration: none;
        color: $green;
      }
      a:hover {
        color: #ffffff;
      }
    }
  }
}

.row-center {
  //display:block;
  margin: 0 auto;
  width: 800px;
  //height: auto;
}

#social {
  background-color: $charcoal;
  opacity: 0.9;
  font-size: 1.2em;
  text-align: center;
  padding-top: 20px;
  border-top: 2px solid $green;
  height: 200px;

  ul {
    list-style-type: none;
    display:block;
    width: 400px;

    li {
        display:block;
        margin: 0 auto;
        float: left;
        padding-left: 20px;
    }
  }

  img.icon {
    width: 30px;
    height: 30px;
  }
}

#contact {
  background-color: $charcoal;
  opacity: 0.9;
  font-size: 1.2em;
  text-align: center;
  height: 200px;
  padding-top: 20px;
  border-top: 2px solid $green;

  form {
  //      float: left;
  //      clear:both;
  }
}

#social h3, #contact h3 {
    padding: 0;
    margin: 5px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: "Born", sans-serif;
    color: $green;
    text-transform: uppercase;


    //clear out active admin styling
    background: none;
    border: none;
    text-shadow: none;
    box-shadow: none;

}
